<h3>Lista de camisetas</h3>

<table class="table text-center">
    <thead>
        <tr>
            <th></th>
            <th>Equipo</th>
            <th>Temporada</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Comprar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let camiseta of camisetas" [ngClass]="{'oferta': camiseta.oferta}">
            <td><img [src]="camiseta.imagen" [alt]="camiseta.equipo" class="img-thumbnail" width=50 ></td>
            <td>{{camiseta.equipo}}</td>
            <td>{{camiseta.temporada}}</td>
            <td>{{camiseta.precio | currency}}</td>
            <td> <span class="badge badge-danger" *ngIf="camiseta.stock==0">No hay stock</span></td>
            <td>
                <app-input-integer [(cantidad)]="camiseta.cantidad" [max]="camiseta.stock" *ngIf="camiseta.stock" (maximoAlcanzado)="maximoAlcanzado($event)"></app-input-integer>
            </td>
            <td>
                <button class="btn btn-primary" (click)="agregarAlCarro(camiseta)">Comprar</button>
            </td>
        </tr>
    </tbody>
</table>