<div class="container contenedor">
    <h3>¿Quienes somos?</h3>
    <p>Somos una tienda de camisetas de futbol muy popular el mercado, fundada en el año 2020 por Mirta Legrand.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae provident eaque, tempora nobis quod earum nesciunt quas, saepe ratione, nemo architecto? Corporis itaque vitae, ullam quaerat exercitationem nihil voluptates maiores!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi placeat, fugit, nulla aperiam quaerat enim porro, provident qui assumenda et rem? Totam nemo minima quo sequi, ducimus delectus voluptates dolores!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, unde architecto iste numquam maiores itaque perspiciatis porro incidunt? Alias, quae nemo. Sit molestias iusto quia est quis, fugit voluptatibus nesciunt?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ex neque minima, perspiciatis laudantium modi eum amet cum optio quisquam blanditiis, nemo earum exercitationem eligendi? Sed ipsam ipsum sunt. Asperiores.</p>
</div>